#send-money {
  display: flex;
  flex-direction: column;
}

.form-field {
  text-align: left;
  margin: 1em 0 0 0;
  border: 1px solid #333333;
  border-radius: 10px;
  background-color: #faf5ed;
}

.padded {
  padding: 0.5em;
}

.form-field > span {
  margin-right: 0.5em;
}

form {
  padding: 3em 1em;
}

form > span {
  padding-top: 2em;
}

textarea {
  width: 100%;
  font-size: medium;
  text-align: left;
  background-color: #faf5ed;
  border: none;
  resize: none;
  height: 3em;
  padding: 0.2em;
}

input {
  font-size: medium;
  text-align: left;
  border: none;
  background-color: #faf5ed;
}

span {
  text-align: left;
  display: block;
}

input[type="text"] {
  flex-grow: 2;
}

input[type="email"] {
  flex-grow: 2;
  padding: 0.2em;
}

select {
  justify-self: flex-end;
}

.amount {
  display: flex;
  align-items: baseline;
}

.email {
  display: flex;
  align-items: baseline;
}

.type {
  padding: 0.5em 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.type > span {
  padding-left: 0.5em;
}

.type > input {
  margin-right: 0.5em;
}

.type:nth-child(2) {
  border-top: 1px solid black;
}

.radio {
  display: flex;
  flex-direction: column;
  padding: 0;
}
