header {
  position: fixed;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: brown;
  padding: 1em;
  color: white;
  font-weight: bold;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: brown;
  padding: 1em;
  color: white;
  font-weight: bold;
  height: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer > div {
  height: 1em;
  padding: 0.5em;
  color: black;
  background-color: lightgray;
  border-radius: 3px;
  box-shadow: 0 2px 1px darkgray;
}

footer > a {
  text-decoration-line: none;
  height: 1em;
  padding: 0.5em;
  color: black;
  background-color: lightgray;
  border-radius: 3px;
  box-shadow: 0 2px 1px darkgray;
}